<div class="form">
  <h2 id="registration">Registration Form</h2>
  <form [formGroup]="reactiveForm"  (ngSubmit)="onSubmit()" >
<div class=""  formGroupName="personalProp" >
  <label for="fname">First Name</label>
  <input type="text" id="fname" placeholder="Your name." formControlName="fname" />

  <label for="lname">Last Name</label>
  <input type="text" id="lname" placeholder="Your last name." formControlName="lname" />

  <label for="email">Email</label>
  <input type="email" id="email" placeholder="Your email." formControlName="email" />
<div>
<span  *ngIf="!reactiveForm.get('personalProp.email').valid" style="color: red" >The email you enetered is not valid</span>
</div>
</div>

    
    <label for="country">Country</label>
    <select id="country" formControlName="country" >
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa" >USA</option>
      <option value="india" >Indian</option>
    
    </select>

    <label for="gender">Gender:</label>
    <input type="radio" id="male" name="gender" value="male" formControlName="gender" />
    <label for="male">Male</label>

    <input type="radio" id="female" name="gender" value="female"  formControlName="gender" />
    <label for="female">Female</label>

    <input type="radio" id="other" name="gender" value="other" checked formControlName="gender" />
    <label for="other">Other</label>

    <label>Hobbies <i>(Optional)</i></label>
    <div class="form-inline"  >
      <label><input type="checkbox" value="sports" checked formControlName="hobbies"  > Sports</label>
      <label><input type="checkbox" value="movies" formControlName="hobbies" > Movies</label>
      <label><input type="checkbox" value="music" checked formControlName="hobbies" > Music</label>
    </div>


  <div formArrayName="" >


<ng-container *ngFor="let skill of reactiveForm.get('skills')['controls']; index as i" >
  <input type="text" placeholder="add skills" formControlName="{{i}}" >
</ng-container>
<button (click)="addSkills()"> +Add Skills </button>
  </div>
    <br>
    <input type="submit" >
  </form>
</div>
